*{
    font-family: 'Open Sans', sans-serif;
}


.header-container {
    display: flex;
    justify-content: space-around;
    align-items: end;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);

}

.header-text {
    margin: 100px 0;
}

.header-pera {
    color: rgba(39, 39, 39, 0.60);
}

.heading {
    font-size: 55px;
    font-weight: bold;
}

.picture-1 {
    width: 350px;
}

.btn-1 {
    border-radius: 8px;
    background: #E55473;
    border: none;
    padding: 13px 25px;
    color: #fff;

}

.main-text {
    margin-top: 80px;
    text-align: center;
    margin-bottom: 50px;
}

.main-header {
    font-size: 25px;
    font-weight: 800;
}

.main-pera {
    font-size: 18px;
    font-weight: 400;
}


.box {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.main-container3-img {
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;

}

.box1 {
    width: 210px;
    height: 250px;
    margin: 10px auto;
    text-align: center;
    display: flex;
    align-items: flex-end;
    padding: 50px 8px 0px 20px;
    border-radius: 300px 300px 0px 0px;
}

.box-img {
    width: 250px;
    height: 250px;

}

.box {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.box3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.box4 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.box2 {
    width: 350px;
    height: 350px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.anchor-tag-box a {
    display: block;
    text-align: center;
}

.main-container2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 100px;

}

.main-container2-text {
    text-align: center;
}

.span {
    color: #E55473;
}

.container2-pera {
    font-size: 18px;
    font-weight: 400;
}


.main-last-container-text {
    text-align: center;

}

.main-last-container {
    background-image: url("../images/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1045px;
    height: 300px;
    margin: 100px auto;

}

.main-header-last-header {
    padding-top: 50px;
}

.main-input {
    padding: 13px 18px;
    border: none;
    width: 500px;
    height: 14px;
    margin-right: 15px;

}

.btn-2 {
    padding-left: 15px;
}
.main-header-last-header{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 0;
    margin-bottom: 0;
   
   
}
.main-last-container-submit {
    text-align: center;
}

.footer-container {
    background: #111010;
    border-radius: 8px;
}

.footer-text {
    color: #fff;
    text-align: center;
    padding: 60px;
}
.finish{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.40);
}